[submodule "Hazel/vendor/spdlog"]
	path = Teddy/vendor/spdlog
	url = ../../gabime/spdlog.git
	branch = v1.x
[submodule "Hazel/vendor/GLFW"]
	path = Teddy/vendor/GLFW
	url = ../../TheCherno/glfw.git
	branch = master
[submodule "Hazel/vendor/imgui"]
	path = Teddy/vendor/imgui
	url = ../../TheCherno/imgui.git
	branch = docking
[submodule "Hazel/vendor/glm"]
	path = Teddy/vendor/glm
	url = ../../g-truc/glm.git
	branch = master
